<section class="cart-show">

  <header class="page-header">
    <h1>Store Totals</h1>
  </header>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <tr>
        <h4>Total Products: <%=@product_amount%></h4>
      </tr>
      <tr>    
        <h4>Total Categories: <%=@category_amount%></h4>
      </tr>
    </table>
  </div>
</section>