<header class="page-header">
    <h1>About</h1>
  </header>
  <div>
  Are you blind when you're born? Can you see in the dark?
Dare you look look at a king? Would you sit on his throne?
Can you say of your bite that it's worse than your bark?
Are you c of the walk when you're walking alone?
When you fall on your head, do you land on your feet?
Are you tense when you sense there's a storm in the air?
Can you find your way blind when you're lost in the street?
Do you know how to go to the heaviside layer?
Because jellicles can and jellicles do
Jellicles do and jellicles can
Jellicles can and jellicles do
Jellicles do and jellicles can
Jellicles can and jellicles do
Can you ride on a broomstick to places far distant?
Familiar with candle, with book, and with bell?
Were you Whittington's friend? The Pied Piper's assistant?
Have you been an alumnus of heaven and hell?
Are you mean like a minx? Are you lean like a lynx?
Are you keen to be seen when you're smelling a rat?
Were you there when the pharoahs commissioned the Sphinx?
If you were, and you are, you're a jellicle cat
Jellicle songs for jelllicle cats
Jellicle songs for jelllicle cats
Jellicle songs for jelllicle cats
Jellicle songs for jelllicle cats
Jellicle songs for jelllicle cats
We can dive through the air like a flying trapeze
We can turn double somersaults, bounce on a tire
We can run up a wall, we can swing through the trees
We can balance on bars, we can walk on a wire
Jellicles can and jellicles do
Jellicles can and jellicles do
Jellicles can and jellicles do
Jellicles can and jellicles do
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Can you sing at the same time in more than one key?
Duets by Rossini and waltzes by Strauss?
And can you (as cats do) begin with a 'c'?
That always triumphantly brings down the house?
Jellicle cats are queen of the nights
Singing at astronomical heights
Handling pieces from the 'Messiah'
Hallelujah, angelical Choir
The mystical divinity of unashamed felinity
Round the cathedral rang 'Vivat'
Life to the everlasting cat!
Feline, fearless, faithful and true
To others who do-what
Jellicles do and jellicles can
Jellicles can and jellicles do
Jellicle cats sing jellicle chants
Jellicles old and jellicles new
Jellicle song and jellicle dance
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Practical cats, dramatical cats
Pragmatical cats, fanatical cats
Oratorical cats, Delphicoracle cats
Skeptical cats, Dispeptical cats
Romantical cats, Pedantical cats
Critical cats, parasitical cats
Allegorical cats, metaphorical cats
Statistical cats and mystical cats
Political cats, hypocritical cats
Clerical cats, hysterical cats
Cynical cats, rabbinical cats
Aaah, Jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
Jellicle songs for jellicle cats
  </div>